ROOT_DIR := $(dir $(realpath $(lastword $(MAKEFILE_LIST))))

export HOST ::= i386-elf
export ARCH ::= i386
export HOSTARCH ::= i386

# Cross toolchain binaries are produced by tools/get-tool.sh into tools/build/bin.
# Ensure nasm is installed separately for the assembly sources.
export LD ::= $(ROOT_DIR)/tools/build/bin/i686-elf-ld
export AR ::= $(ROOT_DIR)/tools/build/bin/i686-elf-ar
export AS ::= nasm
export CC ::= $(ROOT_DIR)/tools/build/bin/i686-elf-gcc

export PREFIX ::= /usr
export EXEC_PREFIX ::= ${PREFIX}
export BOOTDIR ::= /boot
export LIBDIR ::= ${EXEC_PREFIX}/lib32
export INCLUDEDIR ::= ${PREFIX}/include

# Configure the cross-compiler to use the desired system root.
export SYSROOT ::= $(ROOT_DIR)/sysroot

export CFLAGS ::= -DDEBUG=1 -O0 -g --sysroot=${SYSROOT}
export CPPFLAGS ::= --sysroot=${SYSROOT}

# Work around that the -elf gcc targets doesn't have a system include directory
# because it was configured with --without-headers rather than --with-sysroot.
ifeq ($(findstring elf, ${HOST}), elf)
export CFLAGS += -isystem=${INCLUDEDIR}
export CPPFLAGS += -isystem=${INCLUDEDIR}
endif
