KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=
 
KERNEL_ARCH_OBJS= \
$(ARCHDIR)/IDT.o \
$(ARCHDIR)/cpuid.o \
$(ARCHDIR)/ata_pio.o \
$(ARCHDIR)/ahci.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/control_register.o \
$(ARCHDIR)/isr.o \
$(ARCHDIR)/irq.o \
$(ARCHDIR)/phy_mem.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/pci.o \
$(ARCHDIR)/ps2.o \
$(ARCHDIR)/dma.o \
$(ARCHDIR)/mmio.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/storage.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/tty/tty_frame.o \
$(ARCHDIR)/tty/tty_text.o \
$(ARCHDIR)/vir_mem.o \
$(ARCHDIR)/smp.o \
$(ARCHDIR)/lapic.o \
$(ARCHDIR)/smp_trampoline.o \
